.hf.cluster {
    /* border-radius: 4px; */
    /* background: var(--hf-primary-btn-color); */
    color: var(--hf-text-normal);
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;

    .wrap {
        margin-top: 2px;
        height: 23px;
        line-height: 21px;
        border: 1px solid var(--hf-text-secondary);
        border-radius: 3px;
        font-size: 12px;

        .usage-box {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            background: #3b9fda5b;
        }

        // &.high {
        //     border-color: rgba(235, 83, 45, 1);

        //     .usage-box {
        //         background: rgba(235, 83, 45, 0.49);
        //     }
        // }
    }

    .box {
        height: 21px;
        width: 80px;
    }



}

.cluster.pop {
    font-size: 12px;
    padding: 8px;
    width: max-content;

    p {
        span.key {
            display: inline-block;
            min-width: 100px;
        }

        line-height: 16px;
        margin-top: 0px;
        margin-bottom: 0;
    }
}