/* hf-task-log-viewer */

// 历史任务打开的进行着色
.q-chain .hf.logViewer .header,
.q-chain .hfapp-log-header {
    background-image: $bg-line-45deg;
    background-color: #f1db923b;
}

.hf.logViewer {

    $task-node-width: 262px;

    overflow: auto;
    position: relative;
    min-width: 200px;
    min-height: 100px;

    .ml20 {
        margin-left: 10px;
    }

    .ml10 {
        margin-left: 10px;
    }

    .ranksel {
        display: inline-block;
        min-width: 110px;
    }
    .ml10 {
        margin-left: 10px;
    }

    .ranksel{
        display: inline-block;
        min-width: 110px;
    }

    .header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        min-height: 34px;
        z-index: 3;
        padding-left: 10px;
        padding-right: 0;
        font-size: 14px;
        color: var(--hf-ui-font-color1);
        background: #739cbb40;
        box-shadow: 0px 1px 4px #00000042;

        button {
            vertical-align: unset;
        }

        .left {
            float: left;

            &>div {
                display: inline-block;
                line-height: 34px;
            }

            .status {
                margin-right: 10px;
            }

            .id {
                font-size: 10px;
                margin-left: 20px;
                color: var(--hf-text-lighter);
            }

            .rank {
                font-size: 13px;
                margin-left: 10px;
                color: var(--hf-text-secondary);
            }
        }

        .right {
            float: right;
            display: flex;
            height: 34px;
            flex-direction: row;
            align-items: center;
            overflow: hidden;

            &>div {
                display: inline-block;
            }

            .updated-at {
                font-size: 12px;
                color: var(--hf-text-secondary);
                word-break: keep-all;
            }

            .refresh button {
                margin-left: 20px;
            }

            .v1-logo-container {
                width: 20px;
                height: 34px;
            }

            .v1-log-logo {
                height: 34px;
                width: 34px;
                /* clip-path: path("M 34 34 C 34 34 34 16 5 0 L 34 0 Z"); */
                position: relative;
                background: var(--hf-theme-color-third);
                cursor: pointer;
                left: 3px;
                top: -17px;
                transform: rotate(45deg);

                p {
                    color: white;
                    position: absolute;
                    right: 10px;
                    margin-bottom: 0;
                    bottom: 0;
                    font-size: 12px;
                    // transform: rotate(45deg);
                }
            }
        }

    }


    .prompt {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: var(--jp-layout-color1);

        .text {
            font-size: 30px;
            text-align: center;
            color: #bd4545a6;
            margin-top: 80px;
        }
    }

    .logs {
        position: absolute;
        z-index: 0;
        top: 34px;
        left: 0;
        right: 0;
        bottom: 0;
        /* overflow: hidden; */
        background: #6cbcff17;

        &.narrow {
            right: $task-node-width;
        }

        .search-panel {
            position: absolute;
            top: 0;
            right: 10px;
            min-width: 160px;
            padding: 10px;
            z-index: 10;
            background: var(--hf-layout-light);
            box-shadow: 0px 2px 3px 1px #0003;

            button {
                margin-left: 10px;
            }

            span {
                font-size: 13px;
                color: var(--hf-text-normal);
            }
        }

        .list-wrapper {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 10px;
            overflow: auto;
        }

        pre {
            margin: 0;
            line-height: 20px;
            /* Attention！MUST set min-height ,otherwise if item[0] is empty，virtual scroll will crash when read a zero height item */
            min-height: 20px;
            min-width: 10px;
            color: var(--hf-text-normal);
            font-size: 14px;

            &.hit-currentline {
                background: #eb999938;
                display: inline-block;
            }

            em {
                background: #ffa41b6e;
            }
        }
    }

    .task-nodes {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        width: $task-node-width;
        padding: 15px 10px 10px 10px;
        border-left: 1px solid var(--jp-border-color2);
        background: var(--hf-layout-light);

        .jobs-wrapper {
            height: 100%;
            min-height: unset;
        }
    }

    .syslog .logs {
        background-image: url("data:image/svg+xml,%3Csvg fill='%23888' fill-opacity='0.07' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' width='100' height='100' %3E%3Cpath d='M161 271v55.9h332.5V271H161z m0 258.9h369.5V474H161v55.9z m0 310.6h517.4v-56H161v56z m591.2-40.7v144.1h-660V81.1h660v222.2c12-1.6 24.3-2.5 37-2.5 12.5 0 30 0.9 42.1 2.5V4.5H13.1v1015h818.2V799.8c-12.1 1.6-29.7 2.6-42.1 2.6-12.6 0-24.9-1-37-2.6z m223.1-290.2h-23.2c-3.7-13.3-8.9-25.9-15.8-37.6l20.8-20.2c14-13.5 14-35.3 0-48.8l-12.5-12.2c-14-13.4-36.5-13.4-50.4 0L874 410.6c-12.6-7-26.1-12.5-40.3-16.3v-23.2c0-19.1-16-34.5-35.6-34.5h-17.8c-19.6 0-35.6 15.4-35.6 34.5v23.2c-14.3 3.8-27.8 9.3-40.3 16.3l-20.6-19.8c-13.8-13.4-36.4-13.4-50.2 0L621 402.9c-13.8 13.5-13.8 35.3 0 48.8l20.9 20.2c-6.7 11.7-12.1 24.3-15.7 37.6H603c-19.6 0-35.6 15.4-35.6 34.5v17.2c0 19 15.9 34.5 35.6 34.5h23.4c3.9 13.4 9.3 26.1 16.3 37.9l-21.7 21c-13.8 13.5-13.8 35.4 0 48.8l12.6 12.3c13.8 13.4 36.4 13.4 50.2 0l21.9-21.2c12.1 6.7 25.1 11.9 38.9 15.5v22.1c0 19 15.9 34.5 35.6 34.5H798c19.6 0 35.6-15.4 35.6-34.5V710c13.7-3.6 26.7-8.8 38.9-15.5l21.7 21.2c13.9 13.4 36.4 13.4 50.4 0l12.5-12.3c14-13.4 14-35.3 0-48.8l-21.7-21c7-11.8 12.5-24.5 16.3-37.9h23.5c19.6 0 35.6-15.4 35.6-34.5V544c0.1-19-15.9-34.4-35.5-34.4zM789.2 648c-54.1 0-97.8-42.5-97.8-94.8 0-52.4 43.7-94.8 97.8-94.8 53.9 0 97.7 42.5 97.7 94.8S843.1 648 789.2 648z m0-139c-24.6 0-44.5 19.3-44.5 43.1 0 23.9 19.9 43.2 44.5 43.2 24.5 0 44.5-19.4 44.5-43.2 0-23.8-20-43.1-44.5-43.1z' %3E%3C/path%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-color: #71a27a38;
    }
}

.hf-experiment-info {

    padding: 10px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            line-height: 1.5em;

            span.label {
                min-width: 80px;
                display: inline-block;
                vertical-align: top;
            }

            span.value {
                word-break: break-all;
                display: inline-block;
                width: 150px;
            }

            button {
                vertical-align: top;
                margin-left: 20px;
            }

        }
    }
}