.hf.navPanel {
    background: var(--jp-layout-color1);
    height: 100%;
    overflow: auto;
    flex-flow: column nowrap;
    justify-content: space-between;
    display: flex;

    .nav-title-wrapper {
        padding: 22px 16px 16px 16px;
        margin: 0 auto;
        width: 250px;
        box-sizing: border-box;
    }

    .nav-title-logo {
        display: block;
        text-align: center;
    }

    .nav-title-ver {
        text-align: right;
        margin-right: 14px;
        margin-top: 4px;
        color: var(--hf-text-lighter);
    }

    .borderline {
        margin-top: 14px;
        border-bottom: 1px solid var(--jp-layout-color3);
    }

    .nav-list-wrapper {
        width: 250px;
        margin: 0 auto;

        ul {
            padding: 0;

            .item {
                color: var(--hf-ui-font-color1);
                font-size: 14px;
                line-height: 34px;
                margin-left: 16px;
                text-align: center;
                font-weight: 500;

                &:hover {
                    background: var(--hf-theme-color);
                    color: #FFF;
                }

                span {
                    display: block;
                    margin-left: -16px;
                }
            }
        }
    }

    .messages {
        // border: 1px solid rgb(250, 159, 74);
        // padding: 10px;
        margin: 20px auto;
        box-sizing: border-box;
        width: 220px;

        .#{$ns}-messageitem {
            margin-bottom: 10px;
        }

        // color: var(--hf-ui-font-color1);
        // line-height: 2em;
    }

    .documentation {
        padding-bottom: 14px;
        padding-top: 20px;
        width: 100%;
        text-align: center;
        font-size: 13px;

        a {
            color: var(--hf-theme-color-third);

            &.errorDetected {
                color: var(--hf-danger-btn-color);
            }
        }

        span {
            color: var(--hf-theme-color-second);
        }

        .logo {
            margin-top: 14px;
        }

    }
}